{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block content %}
<div class="container mt-5">

<br><br>
<h5><strong>Permission Denied</strong></h5>
<br><br>
<p>
    The user you are logged in does not have the permissions to access this resource. Please speak with your application owner and arrange your permissions be reviewed.
</p>
<br><br>
<br><br>
<footer class="footer mt-auto py-3 bg-light">
        <span class="text-muted"><h5><strong> ✅ Powered by Cedar</strong></h5></span>
</footer>


</div>

{% endblock %}