{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<br><br>
<h4>Welcome, {{ current_user.id }}</h4>

{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Logout</a>
{% endif %}

    <form method="post" action="{{ url_for('login') }}">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% endblock %}